<div class="metaballs-container"> 
      <canvas id="world" class="canvas" width="1280" height="720"></canvas>
      <div id="overlay">
        <div><span id="fps" style="color:white"></span></div>
      </div>

    <h2>Configuration</h2>
    <p>
        <input id="play"  type="button" value="Play" />
        <input id="pause" type="button" value="Pause" />
        Speed: <input id="speed" type="range" step="1" min="1" max="100" value="1"/>
    </p>

    <table>
        <tr>
            <th></th><th>Sides (a,d)</th><th>Height (up,down)</th><th>Depth (w, s)</th>
        </tr>
        <tr>
            <td>Camera Position</td>
            <td><input id="camX" name="camX" type="number" value="0" /></td>
            <td><input id="camY" name="camY" type="number" value="0" /></td>
            <td><input id="camZ" name="camZ" type="number" value="0" /></td>
        </tr>
    </table>

    <!-- include javascript -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}/metaballs/lib/webgl-utils.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/metaballs/js/metaballs.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/metaballs/lib/cuon-matrix.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/metaballs/lib/gl-matrix/dist/gl-matrix.js"></script>

    <script>
        /* Storing user's device details in a variable*/
        let details = navigator.userAgent;
    
        /* Creating a regular expression
        containing some mobile devices keywords
        to search it in details string*/
        let regexp = /android|iphone|kindle|ipad/i;
    
        /* Using test() method to search regexp in details
        it returns boolean value*/
        let isMobileDevice = regexp.test(details);
    
        var element = document.getElementById("world");
    
        if (isMobileDevice) {
            var ctx = document.getElementById("world");
            var aspect = ctx.height / ctx.width;
            ctx.width  = window.innerHeight / 2;
            ctx.height = ctx.width * aspect;
            ctx.width = screen.height;
            ctx.height = screen.height;
        }
    </script>
</div>